{% load static %}


<!DOCTYPE html>
<html lang="es">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explorando Django</title>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vk90d50wDnGCd0nMylR3TXsj1+VxFY4C7OmfzL9nNOL5V5OGSjSwhE8b1nQK0s4K" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'core/estilos.css' %}">
    </head>

    <body class="bg-light">

        {% include 'core/componentes/navbar.html' %}
        <main>
            <div class="container">

                {% block contenido %}
                {% endblock contenido %}

                <footer>
                    {{ fecha }}
                </footer>
            </div>
        </main>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-WnMd2cl/lc2gEzi0X24a3/+q9JIPjC4b4WFm7uHDhgaFF+NyXAGmduoWyw38DH3N" crossorigin="anonymous"></script>
    </body>

</html>