<nav>
    <div class="navbar">
        <a href="{% url 'core:index' %}" class="navbar-brand">Django</a>
        <ul class="navbar-links">
            <li><a href="{% url 'core:dados' %}">Tirar dados</a></li>
            <li><a href="{% url 'core:usuarios' %}">Ir a usuarios</a></li>
            <li><a href="{% url 'cliente:index' %}">App Cliente</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'producto:index' %}">Productos</a></li>
                <li><a href="{% url 'core:profile' %}">{{ user.username }}</a></li>
                <form action="{% url 'core:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <li><a href="{% url 'core:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>